################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Client/obj
/Common/obj
/Server/obj
/Client/bin
/Common/bin
/Server/bin
*.user
*.suo
*.tmp
*.log
*.cache
*.pdb
/SolarniPanelSolution/.vs/SolarniPanelSolution
/Client/.vs/Client
/Common/.vs
/Server/.vs
/solar_data.csv
