<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="DataPath" value="Data" />
    <add key="OverTempThreshold" value="50.0" />
    <add key="VoltageImbalancePct" value="5.0" />
    <add key="PowerFlatlineWindow" value="10" />
    <add key="PowerSpikeThreshold" value="1000.0" />
    <add key="DcSagThreshold" value="50.0" />
    <add key="LowEfficiencyThreshold" value="0.8" />
    <add key="PowerFlatlineEpsilon" value="0.5" />
  </appSettings>
  
  <system.serviceModel>
    <services>
      <service name="Server.Services.SolarService" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4000"/>
          </baseAddresses>
        </host>
        <endpoint 
          address="SolarService" 
          binding="netTcpBinding" 
          bindingConfiguration="StreamingBinding"
          contract="Common.ISolarService"/>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="StreamingBinding"
                 maxReceivedMessageSize="16777216"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>